.header {
   min-height: 34vw;
   margin: 30px auto;
   background-image: url("/header_img.png");
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.header-content {
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 1.5vw;
   align-items: start;
   max-width: 50%;
   bottom: 10%;
   left: 6vw;
   animation: FadeIn 3s;
   transition: 0.8s;
}

.header-content h2 {
   font-weight: 500;
   font-size: max(4.5vw, 22px);
   color: #FFFF;
}

.header-content p {
   color: #FFFF;
   font-size: 1vw;
}

.header-content button {
   border: none;
   background-color: #FFFF;
   border-radius: 50px;
   padding: 1vw 2.3vw;
   font-size: max(1vw, 13px);
   font-weight: 500;
   color: #747474;
   cursor: pointer;
}

@media (max-width:1050px) {
   .header-content {
      max-width: 45%;
   }
}

@media (max-width:750px) {

   .header-content {
      max-width: 65%;
   }

   .header-content p {
      display: none;
   }

   .header-content button {
      padding: 2vw 4vw;
   }
}